/* Import of fonts */

@font-face {
  font-family: Fredericka;
  src: url(./fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf);
}

@font-face {
  font-family: Laila;
  src: url(./fonts/Laila/Laila-Medium.ttf);
}
@font-face {
  font-family: Permanent-Marker;
  src: url(./fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

/*General settings */

/* Light Mode */
:root {
  --primary-bg-color: #ffebd1;
  --secondary-bg-color: #9c4324;
  --primary-color: black;
  --secondary-color: #ffebd1;
  --highlight-one: #7d9eb4;
  --highlight-two: #4a9470;
  --opposite-color: #032236;
}

/* Dark Mode */
.dark {
  --primary-bg-color: #032236;
  --secondary-bg-color: #803015;
  --primary-color: #d4a66a;
  --secondary-color: #d4a66a;
  --highlight-one: #d4a66a;
  --highlight-two: #196d45;
  --opposite-color: #ffebd1;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: Laila;
  margin: 0;
  font-size: 18px;
}

main {
  margin: 0px 0px 50px 0px;
}

h1,
h2,
h3 {
  font-family: Fredericka;
}

h1 {
  background-color: white;
  color: var(--secondary-bg-color);
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.edding {
  font-style: italic;
  font-family: Permanent-Marker;
  color: var(--highlight-one);
  letter-spacing: 0.4rem;
  word-spacing: 0.4rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px;
}

a:hover:not(:has(button)) {
background-color: var(--highlight-one);
border: none;
color: white;
font-size: inherit;
cursor: pointer;
}

button {
  background-color: var(--highlight-one);
  border: none;
  color: white;
  font-size: inherit;
  margin: 1rem;
  cursor: pointer;
}

.fixed-site {
  margin: 0px 5vw;
}

.centered-element {
  text-align: center;
  padding: 20px;
}

form > * {
  margin: 10px;
}

/* Footer */

footer {
  text-align: center;
  font-size: smaller;
  position: fixed;
  padding: 15px 0px;
  width: 100%;
  bottom: 0px;
  /* background: linear-gradient(180deg, var(--secondary-bg-color) 0%, var(--primary-bg-color) 30%, var(--primary-bg-color) 70%, var(--secondary-bg-color) 100%); */
  background-color: var(--primary-bg-color);
  border-top: 2px dotted var(--secondary-bg-color);
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5vw;
}

menu {
  display: flex;
  gap: 5vw;
  font-size: larger;
}

.notching {
  padding: 5px 45px;
  background: linear-gradient(135deg, transparent 10px, var(--highlight-one) 0)
      top left,
    linear-gradient(-135deg, transparent 10px, var(--highlight-one) 0) top right,
    linear-gradient(-45deg, transparent 10px, var(--highlight-one) 0) bottom
      right,
    linear-gradient(45deg, transparent 10px, var(--highlight-one) 0) bottom left;
  /* background-size: 50% 50%; */
  background-repeat: no-repeat;
  clip-path: polygon(
    15px 0,
    calc(100% - 15px) 0,
    101% 15px,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 calc(100% - 15px),
    -1% 15px
  );
}

.rotating {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100%;
  height: 10px;
  transform: skewX(-45deg);
  background: linear-gradient(var(--secondary-bg-color) 0 0) left -30px top 0/30px
    20px no-repeat #ccc;
  animation: l3 10s infinite linear;
}

@keyframes l3 {
  100% {
    background-position: right -30px top 0;
  }
}

.vertical-scroll-80 {
  overflow: auto;
  max-height: 80vh;
}

.vertical-scroll-80::-webkit-scrollbar {
  width: 8px;
}

.vertical-scroll-80::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.vertical-scroll-80::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--highlight-one);
}

/* About Page */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > * {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 50px;
  padding: 50px 15%;
}

#title {
  background-image: url("./pexels-andrea-piacquadio-3769138.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.polaroid {
  background: #fff;
  padding: 0.5rem  !important;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
  max-height: 80vh;
  max-width: 80vw;
}

.polaroid > img {
  max-height: 50vh;
  max-width: 80vw;
}

.polaroid:hover {
  filter: grayscale(0%);
}

.polaroid-big {
  filter: grayscale(0%);
  padding: 0.5rem;
}

.polaroid-1,
.polaroid-2,
.polaroid-3 {
  max-height: 30vh;
  max-width: 10vw;
  margin: auto;
}

.polaroid-1 > img,
.polaroid-2 > img,
.polaroid-3 > img {
  max-width: 70%;
  max-height: 70%;
  height: auto;
  transition: 0.7s;
}

.polaroid-1 {
  animation: shake-1 2.2s ease-in;
  animation-timeline: initial;
  rotate: -5deg;
}

.polaroid-2 {
  animation: shake-2 1.8s ease-in;
  animation-timeline: initial;
  rotate: 5deg;
}

.polaroid-3 {
  animation: shake-3 1.6s ease-in;
  animation-timeline: initial;
  rotate: 0;
}

@keyframes shake-1 {
  0% {
    transform: rotate(-10deg) scale(1.5) translateX(10px);
    opacity: 0;
  }
  40% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}

@keyframes shake-2 {
  0% {
    transform: rotate(-10deg) scale(1.5) translateX(-10px);
    opacity: 0;
  }
  40% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}

@keyframes shake-3 {
  0% {
    transform: rotate(10deg) scale(1.5);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

#teaser-map {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#teaser-footprint {
  width: calc(70% - 50px);
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--highlight-two);
}

#teaser-single {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #9c4324;
  color: var(--secondary-color);
  overflow-y: clip;
}

#animated-img {
  animation: slide-in 1ms ease-in;
  animation-timeline: view();
}

@keyframes slide-in {
  0% {
    transform: translateX(50rem) translateY(-20rem) rotate(-0.25turn);
  }
  40% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

#teaser-all {
  flex-direction: column;
  align-items: center;
}

/* Map Page */

.map, .map2 {
  width: 100%;
  height: 80vh;
  z-index: 0 !important;
}

#mapFilterSection {
justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  position: absolute;
  z-index: 10;
  top: 15vh;
  width: 200px;
  right: 2px;
  height: 75vh;
  border: 2px dashed var(--highlight-one);
}

#mapFilterSection > * {
  margin: auto;
}

.display-none {
  display: none;
}
.display-flex {
  display: flex;
}

.checkbox-season {
  display: none;
}

.label-season {
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
/*   border: 1px solid var(--highlight-two); */
  line-height: 75px;
  font-size: 2em;
  cursor: pointer;
  overflow: visible;
}

.label-clock {
  display: inline-block;
  width: 50px;
  cursor: pointer;
}

#clock-filter {
  gap: 0px;
  overflow: visible;
  grid-auto-rows: 50px;
  align-items: center;
}

#season-filter, #clock-filter {
  border: 2px dashed var(--highlight-two);
}

#season-winter:checked ~ label[for="season-winter"],
#season-spring:checked ~ label[for="season-spring"],
#season-summer:checked ~ label[for="season-summer"],
#season-autumn:checked ~ label[for="season-autumn"] {
  background: var(--highlight-two);
  color: #fff;
}

#clock-filter > div > input:checked ~ label {
  color: var(--opposite-color);
  font-weight: bold;
}

#clock-night:checked ~ label[for="clock-night"]::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 17.5px;
  width: 35px;
  height: 35px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Sun.svg/35px-Sun.svg.png")
    no-repeat top left;
}

#clock-morning:checked ~ label[for="clock-morning"]::before {
  content: "";
  position: absolute;
  top: -8.5px;
  right: 0;
  right: 35px;
  width: 35px;
  height: 35px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Sun.svg/35px-Sun.svg.png")
    no-repeat top left;
}

#clock-midday:checked ~ label[for="clock-midday"]::before {
  content: "";
  position: absolute;
  top: -135%;
  right: 0;
  width: 35px;
  height: 35px;
  padding-right: 1em;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Sun.svg/35px-Sun.svg.png")
    no-repeat top left;
}
#clock-evening:checked ~ label[for="clock-evening"]::before {
  content: "";
  position: absolute;
  top: -8.25px;
  right: -8.25px;
  width: 35px;
  height: 35px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Sun.svg/35px-Sun.svg.png")
    no-repeat top left;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--opposite-color);
  color: var(--primary-bg-color);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: smaller;
  position: absolute;
  bottom: 100%;
  left: 0%;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--opposite-color) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Footprint page */

th {
  background-color: var(--highlight-two);
}

table {
  width: 100%;
}

tbody > tr:nth-child(even) {
  background-color: rgba(81, 148, 112, 0.4);
}

#footprint-comparison-chart {
  min-height: 250px;
}

.drop-shadow {
  filter: drop-shadow(0px -6px 6px var(--secondary-color));
}

/* Trip Detail Page */

#single-details {
  margin: 25px 50px;
  border: 2px dashed var(--highlight-one);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 50px;
  align-items: start;
}

@media only screen and (max-width: 1600px) {
  .fixed-site {
    margin: 0px 0.5vw;
  }
}

@media only screen and (max-width: 880px) {
  .hide-xs {
    display: none;
  }
  .polaroid-1,
  .polaroid-2,
  .polaroid-3 {
    max-width: 20vw;
  }
  .img-gallery {
    rotate: 270deg;
  }
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  --f: 0.5em; /* control the folded part*/
  --r: 0.8em; /* control the ribbon shape */
  position: absolute;
  top: 15vh;
  z-index: 10;
  right: calc(-1 * var(--f));
  padding-inline: 0.25em;
  line-height: 1.8;
  background: var(--highlight-one);
  border-bottom: var(--f) solid #0005;
  border-left: var(--r) solid #0000;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
}
